.container.py-3
  #stacked-cards-header
    
  %ul#stacked-cards
    %li#stacked-card1.stacked-card
      .stacked-card-body
        .row.m-0.h-100
          .col-lg-3.col-sm-6.col-8.p-4.d-flex.flex-column.justify-content-center
            .h1
              Geschenke
            %p
              Wir leben seit einigen Jahren erfolgreich zusammen und haben unser kleinen Wohnung
              mit allem Notwendigen ausgestattet. Deshalb w端rden wir uns sehr freuen, wenn ihr uns bei unserer
              Hochzeitsreise nach S端dostasien unterst端tzen w端rdet.
          .col
    %li#stacked-card2.stacked-card
      .stacked-card-body
    %li#stacked-card3.stacked-card
      .stacked-card-body
    %li#stacked-card4.stacked-card
      .stacked-card-body
