#rsvp
  .container.py-3
    .h1
      Anmeldung
    .card.border-primary.h-100
      .card-body
        %p
          Vielen dank für eure Anmeldung! Falls noch fragen mit dem Hotel offen sind, wendet euch gerne direkt an
          die Rezeption.

        = link_to 'Hotel anrufen', 'tel:004955130381799', class: 'btn btn-dark btn-lg my-2', target: '_blank'
