@import "bootstrap";

#time-line {
  margin: 0 auto;
  position: relative;
  list-style: none;
  text-align: left;
  max-width: 100%;

  .row .col {
    padding-left: 0px !important;
  }

  .timeline-time {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    padding-top: 1.5rem;
    padding-left: 0px !important;
    padding-right: 0px !important;

    img {
      width: 3rem;
    }
  }

  .timeline-content-wrapper {
    background: rgba(23, 78, 157, 0.09);
    border-left: 3px solid $primary;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  
  .timeline-content {
    position: relative;
    border-bottom: 1px dashed #000;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  
  .timeline-content:after {
    position: absolute;
    display: block;
    top: 10px;
    -webkit-box-shadow: 0 0 0 3px $primary;
    box-shadow: 0 0 0 3px $primary;
    left: calc(-1.5rem - 6px);
    background: #fff;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
  }
}